.navigation {
		inline-size: 100dvw; block-size: var(--header-size);
		position: sticky; top: 0; z-index: 5;margin-inline: auto;

	> section#header {
		inline-size: min(100%, var(--content-max-width)); block-size: inherit;
		grid-column: content; block-size: inherit; margin-inline: auto;
		display: flex; justify-content: space-between; align-items: center;

		> .logo {
			display: flex; align-items: center;

			> a {
				display: flex; align-items: center;
				inline-size: auto; block-size: 3rem;
				font-family: var(--font-nav); font-size: 1.8rem;

				> img {
					block-size: 90%; inline-size: auto;
				}
			}
		}

		nav > .nav__list {
			margin: 0; padding: 0; display: flex; list-style: none;
			margin-inline-end: 5rem;
		}

		nav > .nav__list > .nav__item > .nav__link {
			display: flex; color: var(--text-1); font-size: 1.75rem; text-decoration: none;
			padding: 0.5rem 1rem; font-weight: 500;
			font-family: var(--font-nav); font-size: 1.8rem;

			transition: color 100ms ease-in, font-weight 100ms ease-in;

			&[aria-selected="true"] {
				color: var(--accent-1); font-weight: 700;
			}

			&[aria-selected="true"]::after {
				content: ""; position: absolute; bottom: 0; left: 0; right: 0;
				height: 3px; background-color: var(--accent-1); color: var(--accent-1);
				inline-size: 20%; margin-inline-start: 65%; border-radius: 10000px;
			}
		}

		nav > .nav__list > .nav__item {
			list-style: none;
			display: flex; place-content: center; place-items: center;
		}
	}
}


nav > .nav__list {
	margin: 0; padding: 0; display: flex; list-style: none;
	align-items: center; gap: 1rem;
}

nav > .nav__list > .nav__item > .nav__link {
	position: relative;
	display: flex; color: var(--text-2); font-size: 1.75rem; text-decoration: none;
	padding: 0.5rem 0; font-weight: 300; transition: color 100ms ease-in;
}


nav > .nav__list > .nav__item {
	list-style: none;
	display: flex; place-content: center; place-items: center;
}
